*{
    box-sizing: border-box;
}
:root {
    --main-color:#283526;
    --primary-color:#888888;
    --button-background:#4b709e;
    --primary-button-background:#fe7649;
    --background-color:#eef2f7;
    --border:.1rem solid rgba(255,255,255,.3);
    --lightborder: rgba(255,255,255,0.5);
    --lightslate:#778899;
    --black:#000000;
    --blue:#0000ff;
    --white:#ffffff;
    --red: #FF0000;
    --goldenrod:#daa520;
    --lightyellow:rgb(255,231,122);
    --lightblue:#1680AC;
    --main-blue:#2696E9;
    --dark-blue:#202020;
    --orange:#FFA500;
    --yellow:#FFFF00;
    --dark-black:#111;
    --aqua:#00FFFF;
    --green:#4dbf00;
    --lightblue:#2e86c1;
    --lightyellow:#D6ED17FF;
    --lightgrey:#606060FF;
    --width:12.5rem;
    --top:-10px;
    --percentwidth:100%;
    --pixelwidth:100px;
    --Defaulttop:0;
    --opacity:1;
    --commonpadding:8px;
    --DarkYellow: rgb(210,211,45);
    --Degree:360deg;
}
::selection{
    background:var(--lightyellow);
    color:var(--lightgrey);
}
h1::selection{
    background:var(--main-blue);
}

.commonheading{

    color:var(--white);
  /*  font-size: 1rem; */
    
}
.commonheading h1{
    font-family:'Rowdies',cursive;
}

.commoncardcontainer{
    display: flex;
    align-items: center;
}
.commoncard{
    width:var(--percentwidth);
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}
.commoncard::-webkit-scrollbar{
    overflow: hidden;
}
.commoncard img{
    
    width:var(--width);
    height:calc(31.25rem - var(--width));
    padding:calc(13.10rem - var(--width));
    border-radius:calc(14.375rem - var(--width));
  /* transition:transform 0.3s ease-in; */
}
.commoncard figure{
  
    position: relative;
    
  }
  .commoncard figure:hover img{
      transform:scale(1.1);
      opacity: .4;
  }

.commonanchor{
    position: relative;
}
.commonanchor::before{
    content: "";
    width:var(--percentwidth);
    height:var(--percentwidth);
    position: absolute;
    transition:all 0.3s;
    top:var(--Defaulttop);
    left:var(--Defaulttop);
    border-top: 2px solid var(--DarkYellow);
    border-left: 2px solid var(--DarkYellow);
}
.commonanchor::after{
    content: "";
    width:var(--percentwidth);
    height:var(--percentwidth);
    position: absolute;
    transition:all 0.3s;
    transform-origin: left;
    box-sizing: border-box;
    bottom:var(--Defaulttop);
    right:var(--Defaulttop);
    border-bottom: 2px solid var(--DarkYellow);
    border-right: 2px solid  var(--DarkYellow);
}
.commonanchor:hover:before,.commonanchor:hover:after{
    width:calc(110% - var(--percentwidth));
    height:calc(120% - var(--percentwidth));
    transform: rotate(var(--Degree));
}
.bodybg.active{
    background-color: var(--white);
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    background-color:var(--black);
  
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(14.625rem - var(--width));
}
p{
    font-size: calc(13.25rem - var(--width));
}

a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style: none;
}

.btnhover{
   
    border: none;
    outline: none;
    line-height:calc(15.1rem - var(--width));
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size:calc(14.2rem - var(--width));
    position: relative;
    transition: all 0.4s;
}
.btnhover::before{
    content: "";
    position:absolute;
    left:var(--top);
    top:var(--top);
    border-top:5px solid var(--lightblue);
    border-left:5px solid var(--lightblue);
    width:calc(15rem - var(--width));
    height:calc(13.75rem - var(--width));
}
.btnhover:hover:before{
    width:var(--percentwidth);
    height:var(--percentwidth);
}
.header{
    background:var(--blue) ;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    position: fixed;
    top:var(--Defaulttop);
    left:var(--Defaulttop);
    right:var(--Defaulttop);
    
    z-index:1000;
}
.header.active{
    background-color: var(--black);
}
.header .logo{
    filter: brightness(calc(300% - var(--percentwidth)));
}
.headerlogo{
    color:var(--white);
    background: var(--black);
    font-size: calc(14.375rem - var(--width));;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
   
}
.headerlogo::before{
    content:'Hotstar';
    position: absolute;
    mix-blend-mode: difference;  /*get the outline of text */
    filter:blur(calc(12.688rem - var(--width)));
}
.gradient{
    background: linear-gradient(114.5793141156962deg,rgba(6,277,250,1) 4.927083333333334%,rgba(229,151,64,1) 97.84374999999999%);
    position: absolute;
    top:var(--Defaulttop);
    left:var(--Defaulttop);
    width: var(--percentwidth);
    height:var(--percentwidth);
    mix-blend-mode: multiply;
}
.navbar{
    display: flex;
   
}
.navbar a{
   margin:0 1rem; 
   font-size: calc(14.5rem - var(--width));
   
   color:var(--red);
  /* position: relative;*/
}
/*
.navbar a::before{
    content: "";
    width:var(--percentwidth);
    height:var(--percentwidth);
    position: absolute;
    transition:all 0.3s;
    top:var(--Defaulttop);
    left:var(--Defaulttop);
    border-top: 2px solid var(--DarkYellow);
    border-left: 2px solid var(--DarkYellow);
}
.navbar a::after{
    content: "";
    width:var(--percentwidth);
    height:var(--percentwidth);
    position: absolute;
    transition:all 0.3s;
    transform-origin: left;
    box-sizing: border-box;
    bottom:var(--Defaulttop);
    right:var(--Defaulttop);
    border-bottom: 2px solid var(--DarkYellow);
    border-right: 2px solid  var(--DarkYellow);
}
.navbar a:hover:before,.navbar a:hover:after{
    width:calc(110% - var(--percentwidth));
    height:calc(120% - var(--percentwidth));
    transform: rotate(var(--Degree));
}
*/
  
.toggle{
    width:calc(15rem - var(--width));
    height:calc(13.75rem - var(--width));
    background-color: var(--black);
    border-radius:calc(14.375rem - var(--width));
    display: flex;
    align-items:center;
    justify-content: space-between;
    position:relative;
    transform: translateX(0rem);
    transition: .3s;

}
.toggleicon{
    color:var(--goldenrod);
    font-size:calc(13.438rem - var(--width));
}
.toggleball{
    width:calc(13.625rem - var(--width));
    height:calc(13.625rem - var(--width));
    background-color: var(--white);
    position: absolute;
    right:calc(12.563rem - var(--width));
    border-radius:calc(var(--percentwidth) - 50%);
    cursor: pointer;
    
}
.toggle.active{
    background-color: var(--black);
}
.toggleball.active{
    background-color: var(--white);
    transform:translateX(-12px);
}
.icons{
    width: calc(var(--percentwidth) - 50%);
    display: flex;
    justify-content: end;
    
}

.icons .submenu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: calc(13.438rem - var(--width));
}

.icons .submenu button{
    padding: 0.5rem 0.5rem;
    background-color: var(--button-background);
    color:var(--white);
}
.header .icons div{
 color: var(--white);
 
}
.header .icons div:hover{
    color:var(--lightslate);
}
#menubtn{
    display: none;
}
.icons .submenu a{
    font-size:calc(14.4rem - var(--width));
    color:var(--white);
  /*  position: relative; */
}
/*
.icons .submenu a::before{
    content: "";
    width:var(--percentwidth);
    height:var(--percentwidth);
    position: absolute;
    transition:all 0.3s;
    top:var(--Defaulttop);
    left:var(--Defaulttop);
    border-top: 2px solid var(--DarkYellow);
    border-left: 2px solid var(--DarkYellow);
}
.icons .submenu a::after{
    content: "";
    width:var(--percentwidth);
    height:var(--percentwidth);
    position: absolute;
    transition:all 0.3s;
    transform-origin: left;
    box-sizing: border-box;
    bottom:var(--Defaulttop);
    right:var(--Defaulttop);
    border-bottom: 2px solid var(--DarkYellow);
    border-right: 2px solid  var(--DarkYellow);
}
.icons .submenu a:hover:before,.icons .submenu a:hover:after{
    width:calc(110% - var(--percentwidth));
    height:calc(120% - var(--percentwidth));
    transform: rotate(var(--Degree));
}
*/
.icons .submenu  #searchbtn{
    font-size:calc(14.5rem - var(--width));
}
.header .searchform{
    position: absolute;
    top:calc(215% - var(--percentwidth));
    right:calc(107% - var(--percentwidth));
    background: var(--white);
    width:calc(62.5rem - var(--width));
    height:calc(17.5rem - var(--width));
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .searchform.active{
    transform: scaleY(1);
}
.header .searchform input{
    height:var(--percentwidth);
    width:var(--percentwidth);
    font-size:calc(14.1rem - var(--width));
    color:var(--black);
    padding: calc(13.5rem - var(--width));
    text-transform: none;
}
.header .searchform label{
    cursor:pointer;
    font-size: calc(14.7rem - var(--width));
    margin-right:calc(14rem - var(--width));
    color:var(--black);
}
.header .searchform label:hover{
    color:var(--red);
}



.profilepicture{
    width:calc(14.5rem - var(--width));
    height:calc(14.5rem - var(--width));
    border-radius: calc(var(--percentwidth) - 50%);
    object-fit: cover;
}
#corouselcontainer{
    margin-top: -35px;
}
.home{
    /* width: 100%; */
   /* min-height: 100vh;*/
   height: calc(72.5rem - var(--width));
    display: flex;
    background: var(--lightyellow);
    
    position: relative;
    /* margin-top:65px; */
   
}
.home.active{
    background-color: var(--white);
}
/*
.home:before{
    z-index:777;
    content:'';
    position: absolute;
 
    width:100%;
    height:100%;
    /*
    top:0;
    left:0;
    */


.home  .slide  img{
    z-index: 000;
   /* position: absolute;*/
    /*
    top:0;
    left:0;
    */
    
}


.home .content{
   z-index: 1000;
   width:var(--percentwidth);
   
   
transform: translate(var(--pixelwidth), var(--pixelwidth));
   /* position: absolute; */
   /*top:3.125rem;*/
   
    
}

.content.active{
    display: block;
    background-color:var(--red);
}

.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: calc(12.625rem - var(--width));
    line-height: calc(17.188rem - var(--width));
    margin-top:calc(22.5rem - var(--width));
    margin-bottom:calc(13.125rem - var(--width));
    color:var(--white);
}

.home .content p{
    color:var(--white);
    font-size: calc(15.5rem - var(--width));
    margin-bottom: calc(16.563rem - var(--width));
}

.home .content a{
    background: var(--white);
    padding: 0.938rem  2.188rem;
    color:var(--lightblue);
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: calc(12.625rem - var(--width));
}


.home img{
   z-index: 10;
   position: absolute;
   /*
    top:0;
    left:0;
    */
    width:var(--percentwidth);
    height:var(--percentwidth);
   object-fit: cover;
    
}

.slidernavigation{
    z-index: 888;
    position:relative;
    display: flex;
    align-items: center;
    /* transform: translateY(-1000px); */
    /* transform: translateX(101px); */
    transform: translate(0rem,14rem);
    margin-bottom: calc(13.25rem - var(--width));
}

.slidernavigation .navbtn{
    width:calc(13.25rem - var(--width));
    height:calc(13.25rem - var(--width));
    background: var(--white);
    border-radius: calc(var(--percentwidth) - 50%);
    cursor: pointer;
    box-shadow: 0 0 2px var(--lightborder);
    transition:0.3s ease;
}

.slidernavigation .navbtn.active{
    background: var(--main-blue);
}

.slidernavigation .navbtn:not(:last-child){
    margin-right:calc(13.75rem - var(--width));
}

.slidernavigation .navbtn:hover{
    transform: scale(1.2);
}

.imageslider{
    position: absolute;
    width:var(--percentwidth);
    clip-path: circle(0% at 0 50%);

}
.imageslider.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}
.heading{
    margin-top: calc(23.375rem - var(--width));
   
}

.heading.active{
    color:var(--black);
}
figcaption{
    position:absolute;
    left: calc(13.813rem - var(--width));
    top: calc(14.5rem - var(--width));
    width: calc(182% - var(--percentwidth));
    height: calc(183% - var(--percentwidth));
    color:var(--white);
    display: flex;
    font-size:calc(13.125rem - var(--width));
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    opacity:var(--Defaulttop);
    transition: all 1s linear;
}
figcaption p{
    padding-top:calc(13.125rem - var(--width));
}
figure:hover figcaption{
  opacity:var(--opacity);
 
}
.button{
    background-color:var(--green) ;
    color: var(--white);
    padding:var(--commonpadding)  var(--commonpadding);
    border-radius: calc(18px - var(--commonpadding));
    border:none;
    outline:none;
    font-weight: bold;
    margin-top:calc(15px - var(--commonpadding));;
}

.stars{
  width:calc(37.5rem - var(--width));;
  height:calc(18.75rem - var(--width));;
  display: flex;
  justify-content: center;
  align-items: center;
 
  
}
.star{
    font-size: calc(14.5rem - var(--width));
    padding-left:calc(13.125rem - var(--width));
    color:var(--white);
}
.star:first-child{
    padding:var(--Defaulttop);
}
.orange{
    color:var(--orange);
}
.yellow{
    color:var(--yellow);
}




.slide {
    display: none;
   
}
.slide.active {
    display: block;
}

video{
    position: fixed;
    bottom: calc(115% - var(--percentwidth));
    left:calc(130% - var(--percentwidth));
}
#CloseButton{
    color:var(--red);
    position: fixed;
    top: calc(115% - var(--percentwidth));
    left:calc(130% - var(--percentwidth));
    cursor: pointer;
}
footer{
    background: var(--dark-black);
    height:auto;
   
    font-family: "Open Sans";
    padding-top: calc(15rem - var(--width));
    color:var(--white);
}
.footercontent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footercontent h3{
    font-size: calc(14.3rem - var(--width));
    font-weight: 400;
    text-transform: capitalize;
    line-height: calc(15.5rem - var(--width));
}
.footercontent p{
    max-width: calc(43.75rem - var(--width));
    margin:0.625rem auto;
    line-height: calc(14.25rem - var(--width));
    font-size: calc(13.375rem - var(--width));
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1rem 0 3rem 0;
}
.socials li{
    margin:0 0.625rem;
}
.socials a{
    text-decoration:none;
}
.socials a li{
    font-size: calc(13.6rem - var(--width));
    transition: color .4s ease;
}
.socials a:hover i{
    color: var(--aqua);
}
.footerbottom{
    background:var(--black);
    padding:1.25rem 0;
    text-align: center;
}
.footerbottom p{
    font-size: calc(13.375rem - var(--width));
    word-spacing: calc(12.625rem - var(--width));
    text-transform: capitalize;
}
.footerbottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.centerdiv img{
    
    width: calc(32rem - var(--width));
    height: calc(43.25rem - var(--width));
    margin-top: calc(14.5rem - var(--width));
}
.HindiDiv img{
    width: calc(34rem - var(--width));
    height: calc(45.25rem - var(--width));
    margin-top: calc(14.5rem - var(--width));
}
.EnglishDiv img{
    width: calc(34rem - var(--width));
    height: calc(45.25rem - var(--width));
    margin-top: calc(14.5rem - var(--width));
}
@media (max-width:991px){
    #menubtn{
        display: inline-block;
    }
    .header .navbar.active{
        display: none;
    }

    .header .navbar{
        position: absolute;
        top:var(--percentwidth);
        right:var(--Defaulttop);
        display: block;
        background: var(--white);
        
        width:calc(42.5rem - var(--width));
        height:calc(100vh-9.5rem);
        
    }
    .header .navbar a{
        display: block;
        margin:calc(14rem - var(--width));
        padding:calc(13rem - var(--width));
        font-size: calc(14.5rem - var(--width));
        color:var(--black);
    }
    .header .searchform{
        width:calc(var(--percentwidth) - 10%);
        right:calc(14.5rem - var(--width));
    }
}

@media (max-width:600px){

.slide{
    width:var(--percentwidth);
}
.headerlogo{
    font-size: calc(13.5rem - var(--width));
}
.icons .submenu{
    width:var(--percentwidth);
   
    font-size: calc(13.3rem - var(--width));
}
button{
    font-size: calc(13.5rem - var(--width));
}
.icons .submenu a{
    font-size: calc(13.5rem - var(--width));
}


.home .content h1{
   font-size: 2rem;
   color:var(--white)
}
.home .content p{
    font-size: 1.5rem;
    color:var(--white)
}

}
